<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bdqn.warehousemanager.communal.mapper.warhouse.product.ProductMapper">
    <select id="getProductAll" resultType="cn.bdqn.warehousemanager.communal.entity.warhouse.Product">
       SELECT p.*,m.`mName` FROM `product` p
  LEFT JOIN `measurement` m ON m.`id`=p.`mid`
    </select>
</mapper>