<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新增部门</title>
</head>
<body>
<div>
    <h1>新增部门</h1>
</div>
<div>
    <span style="background-color: red" th:text="${error}"></span>
</div>
<form method="post" action="/api/user/addDepartment">
    <table border="1">
        <tr>
            <td>角色名</td>
            <td>
                <input type="text" name="departmentName" th:value="${department.departmentName}">
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="提交">
                <input type="reset" value="重置">
            </td>
        </tr>
    </table>
</form>
</body>
</html>