<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新增用户</title>
</head>


<div>
    <form method="post" action="/api/user/addUser">
        <h1>新增用户</h1>
        <h3 th:text="${message}" style="background-color: red"></h3>
        <table border="1">
            <tr>
                <td>
                    <span>用户名</span>
                </td>
                <td>
                    <input type="text" id="username" name="username" th:value="${user.username}">
                </td>
            </tr>
            <tr>
                <td>
                    <span>密码</span>
                </td>
                <td>
                    <input type="text" id="password" name="password" th:value="${user.password}">
                </td>
            </tr>
            <tr>
                <td>
                    <span>部门</span>
                </td>
                <td>
                    <select id="did" name="did">
            <span th:each="department:${departments}">
                 <option th:value="${department.id}" th:text="${department.departmentName}"  th:selected="${department.id eq user.did}">
                </option>
            </span>
                    </select>
                </td>
            </tr>

            <tr>
                <td>
                    <span>角色</span>
                </td>
                <td>
                    <select id="rid" name="rid">
            <span th:each="role:${roles}">
                 <option th:value="${role.id}" th:text="${role.name}"  th:selected="${role.id eq user.rid}">
                </option>
            </span>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <span>姓名</span>
                </td>
                <td>
                    <input type="text" id="reaName" name="reaName" th:value="${user.reaName}">
                </td>
            </tr>

            <tr>
                <td>
                    <span>手机</span>
                </td>
                <td>
                    <input type="text" id="phone" name="phone" th:value="${user.phone}">
                </td>
            </tr>
            <tr>
                <td>
                    <span>邮箱</span>
                </td>
                <td>
                    <input type="text" id="email" name="email" th:value="${user.email}">
                </td>
            </tr>
        </table>
        <input type="submit" value="提交">
    </form>
</div>
</body>
</html>
