<!DOCTYPE html>
        <html lang="en" xmlns:th="http://www.thymeleaf.org">
        <head>
            <meta charset="UTF-8">
            <title>编辑角色</title>
        </head>
<body>
<div>
    <h1>编辑角色</h1>
</div>
<div>
    <span style="background-color: red" th:text="${message}"></span>
</div>
<form method="post" action="/api/user/editRole">
    <table border="1">
        <tr>
            <td>角色名</td>

            <td th:each="role:${roles}">
                <input type="hidden" th:value="${role.id}" name="id">
                <input type="text" name="name" th:value="${role.name}">
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="提交">
                <input type="reset" value="重置">
            </td>
        </tr>
    </table>
</form>
</body>
</html></title>
</head>
<body>

</body>
</html>