<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bdqn.warehousemanager.communal.mapper.warhouse.warehousingtype.WarehousingTypeMapper">
    <select id="getWarehousingTypeAll" resultType="cn.bdqn.warehousemanager.communal.entity.warhouse.WarehousingType">
        SELECT *FROM `warehousingtype`
        WHERE `classification`=0
    </select>

    <select id="getOutWarehousingTypeAll"
            resultType="cn.bdqn.warehousemanager.communal.entity.warhouse.WarehousingType">
        SELECT *FROM `warehousingtype`
        WHERE `classification`=1
    </select>
</mapper>